<!DOCTYPE html>
<html>
<head>
    <title>Inventario</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <h1>Inventario</h1>
    </header>
    <nav>
        <ul>
            <li><a href="menu.html">Inicio</a></li>
            <li><a href="ventas.html">Ventas</a></li>
            <li><a href="inventario.html">Inventario</a></li>
            <li><a href="proveedores.html">Proveedores</a></li>
            <li><a href="reportes.html">Reportes</a></li>
            <li><a href="configuracion.html">Configuración</a></li>
            <li><a href="admin.html">Estado de Resultados</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Lista de productos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Existencias</th>
                        <th>Precio de compra</th>
                        <th>Precio de venta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>Producto 1</td>
                        <td>Descripción del producto 1</td>
                        <td>100</td>
                        <td>$50.00</td>
                        <td>$75.00</td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>Producto 2</td>
                        <td>Descripción del producto 2</td>
                        <td>50</td>
                        <td>$25.00</td>
                        <td>$40.00</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <form>
                <label>Código:</label>
                <input type="text" name="codigo">
                <label>Nombre:</label>
                <input type="text" name="nombre">
                <label>Descripción:</label>
                <textarea name="descripcion"></textarea>
                <label>Existencias:</label>
                <input type="number" name="existencias">
                <label>Precio de compra:</label>
                <input type="number" name="precio_compra" step="0.01">
                <label>Precio de venta:</label>
                <input type="number" name="precio_venta" step="0.01">
                <button type="submit">Agregar</button>
            </form>
        </section>
    </main>
    <footer>
        <p> Acountech  &copy; 2023 - Inventario</p>
    </footer>
</body>
</html>
