<!DOCTYPE html>
<html>
<head>
    <title>Accountech</title>
    
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <h1>Accountech - Menu</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#ventas">Ventas</a></li>
            <li><a href="#inventario">Inventario</a></li>
            <li><a href="#proveedores">Proveedores</a></li>
            <li><a href="#reportes">Reportes</a></li>

        </ul>
    </nav>
    <main>
        </section>
        <section id="Nombre">
            <h2>Nombres</h2>
            
        </section>
        <section id="Apellido">
            <h2>Apellidos</h2>
           
        </section>
        <section id="ID de trabajador">
            <h2>ID de trabajador</h2>
            
        </section>
        <section id="Rol">
            <h2>Rol</h2>
            
        </section>
        <section id="reportes">
            <h2>Reportes</h2>
            

        </section>
    </main>
    <footer>
        <p>Derechos de autor &copy; 2023 - Accountech - Software de Asistencia Empresarial</p>
    </footer>
</body>
</html>

    </body>
</html>