<!DOCTYPE html>
<html>
<head>
    <title>Accountech</title>
    
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="loadingio-spinner-ellipsis-xar96v9c879"><div class="ldio-obtp72n82a">
        <div></div><div></div><div></div><div></div><div></div>
        </div></div>
    <header>
        <div class="loader"></div>
        <h1>Accountech - Menu</h1>
    <div id="container">

    </header>
    <nav>
        <ul>
            <li><a href="menu.html">Inicio</a></li>
            <li><a href="ventas.html">Ventas</a></li>
            <li><a href="#inventario">Inventario</a></li>
            <li><a href="#proveedores">Proveedores</a></li>
            <li><a href="#reportes">Reportes</a></li>
            <li><a href="#configuracion">Configuracion</a></li>
            <li><a href="admin.html">Estado de Resultados</a></li>
        </ul>
    </nav>
    <main>
        </section>
        <section id="Nombre">
            <h2>Nombres</h2>
            
        </section>
        <section id="Apellido">
            <h2>Apellidos</h2>
           
        </section>
        <section id="ID de trabajador">
            <h2>ID de trabajador</h2>
            
        </section>
        <section id="Rol">
            <h2>Rol</h2>
            
        </section>
        <section id="reportes">
            <h2>Reportes</h2>
            

        </section>
    </main>
    <footer>
        <p>Accountech &copy; - 2023 </p>
    </footer>
</body>

</html>