.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    color: black;
    padding: 10px;
  }
  .header__item {
    cursor: pointer;
  }
  .body__item {
    display: none;
  }
  .body__item__active {
    display: block;
  }
  