{% extends "master.html" %}

{% block content %}

<h1>Accountech</h1>

<h2>{{current_user.is_authenticated}}</h2>

<p>
    Accountech: Tu socio confiable para manejar tu empresa. 
    Durante años, hemos sido el software elegido por empresas de todo tamaño y sector. Nuestro compromiso es ofrecerte una amplia variedad de servicios de calidad a precios competitivos, simplificando tu proceso de gerencia. Nuestro equipo está listo para brindarte un servicio excepcional y soluciones adaptadas a tus necesidades. Confía en Accountech para impulsar tu negocio.
</p>

{% endblock %}


