{% extends "master.html" %}

{% block content %}

<h1>Abastecedora Global</h1>

<h2>{{current_user.is_authenticated}}</h2>

<p>
    Abastecedora Global: Tu socio confiable en abastecimiento. 
    Durante años, hemos sido el mayorista elegido por empresas de todo tamaño y sector. Nuestro compromiso es ofrecerte una amplia variedad de productos de calidad a precios competitivos, simplificando tu proceso de abastecimiento. Trabajamos estrechamente con proveedores confiables para garantizar disponibilidad constante. Nuestro equipo está listo para brindarte un servicio excepcional y soluciones adaptadas a tus necesidades. Confía en Abastecedora Global para impulsar tu negocio.
</p>

{% endblock %}


