{% extends "master.html" %}
{% block custom %}
<script src="static/js/inventory.js"></script>
{% endblock %}
{% block content %}

<h1 class="p-3 mb-2 bg-dark text-white">Summary of the actual inventory</h1>
<h2>{{current_user.is_authenticated}}</h2>
<section class="body__item">
  <div>
    <p class = >
        <button onclick="showinventory()" class="btn btn-info">See inventory</button>
    </p>
    <a href="{{ url_for('sendExcel') }}" download>
      <button class="btn btn-info">Descargar archivo Excel</button>
    </a>

  </div>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Stock</th>
      <th>CVu</th>
      <th>PVu</th>
    </thead>
    <tbody id="InventoryTableBody"></tbody>
  </table>
</section>

{% endblock %}
