{% extends "master.html" %}

{% block content %}
<h1>Welcome Employee!</h1>
<div class="container col-6">
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="email" required >
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>      
            <input type="password" name="password" id="password" class="form-control" placeholder="password" required>
        </div>
    
        <input type="submit" value = "Login" class="btn btn-primary">
        <button onclick="window.location.href='/signup'" class="btn btn-secondary">¿No tienes cuenta? Crea una!</button>
    </form>
</div>


{% endblock %}