{% extends "master.html" %}
{% block custom %}
<script src="static/js/purchase.js"></script>
{% endblock %}
{% block content %}
<h1>Here you will be able to make a purchase for the enterprise</h1>
<div class="container col-6">
    <button onclick="initinventory()" class="btn btn-primary">Start Inventory</button>
    <form action="/update-inventory" method="POST" id="UpdateInventory"> <!-- Agregar el action gogogo  -->
        <div class="mb-3">
            <label for="productid" class="form-label">Select product:</label>
            <select name = "productid" class="form-control">
                <option value = 1>Cristal </option>
                <option value = 2>Pilsen Callao</option>
                <option value = 3>Cusquena </option>
                <option value = 4>Pilsen Trujillo </option>
                <option value = 5>Guarana</option>
                <option value = 6>Arequipena</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity:</label>      
            <input type="text" name="quantity" id="quantity" class="form-control" placeholder="Enter Quantity" required>
        </div>
        
        <button onclick="updateinventory()" class="btn btn-primary">Make purchase</button>
    </form>
        <h2 id="result"></h2> <!-- Aqui se mostrara el resultado de la compra  -->
</div>


{% endblock %}