{% extends "master.html" %}
{% block content %}

<h1 class="p-3 mb-2 bg-dark text-white">Employee Interface</h1>
<h2>{{current_user.is_authenticated}}</h2>
<div class = "row text-center">
    <div class = "col"> 
        <button onclick="window.location.href='/inventory'" class="btn btn-info ">Go inventory</button>
    </div>
    <div class = "col">
        <button onclick="window.location.href='/makepurchase'" class="btn btn-info ">Make a purchase</button>
    </div>
</div>


{% endblock %}
