{% extends "master.html" %}
{% block custom %}
<script src="static/js/sale.js"></script>
{% endblock %}
{% block content %}
<h1>Client interface</h1>
<div class="container col-6">
    <form action="/update-inventory-client" method="POST" id="UpdateInventoryClient"> <!-- Agregar el action gogogo  -->
        <div class="mb-3">
            <label for="productid" class="form-label">Select product:</label>
            <select name = "productid" class="form-control">
                <option value = 1>Cristal </option>
                <option value = 2>Pilsen Callao</option>
                <option value = 3>Cusquena </option>
                <option value = 4>Pilsen Trujillo </option>
                <option value = 5>Guarana</option>
                <option value = 6>Arequipena</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity:</label>      
            <input type="text" name="quantity" id="quantity" class="form-control" placeholder="Enter Quantity" required>
        </div>
        
        <button onclick="update_inventory_client()" class="btn btn-primary">Buy now</button>
    </form>
</div>


{% endblock %}